<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITrafficMessage" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/MessageService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITrafficMessage" contract="TrafficMessageService.ITrafficMessage"
                name="BasicHttpBinding_ITrafficMessage" />
        </client>
    </system.serviceModel>
</configuration>