<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMessager" />
                <binding name="WSDualHttpBinding_IAdmin" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MessagingService/Service1/Messager"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMessager"
                contract="SrvAdmin.IMessager" name="WSDualHttpBinding_IMessager">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MessagingService/Service1/Admin"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAdmin"
                contract="SrvAdmin.IAdmin" name="WSDualHttpBinding_IAdmin">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>